body{
  background-image: url("pngwing.com.png") ;
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 500px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
position: relative;
margin-top: -60px;
}
.ad{
  background-image: url("pngwing.com (1).png") ;
  background-repeat: no-repeat; /* Do not repeat the image */
  background-position: center; /* Center the image */

}
.z{
  color: #CCCCCC;
}
.swing {
  width: 20px;
  margin: 0 auto;
  margin-top: -10px;
  border-left: 1px solid #5E3A16;
  border-right: 1px solid #5E3A16;
  border-bottom: 5px solid #5E3A16;
  position: relative;
  padding-top: 180px;
  -webkit-transform-origin: 50% 0;
  /* for Safari and older Chrome */
  transform-origin: 50% 0;
  -webkit-animation: swinging 3.5s ease-in-out forwards infinite;
  animation: swinging 3.5s ease-in-out forwards infinite;
}
.player-wrap {
  margin-left: -5px;
  overflow: hidden;
}
.player-head {
  position: relative;
  width: 20px;
  height: 20px;
  background: #F1A76B;
  border-radius: 50%;
  overflow: hidden;
}
.player-head:before {
  content: '';
  display: block;
  width: 40px;
  height: 20px;
  border-radius: 50%;
  background: #252525;
  margin-top: -10px;
  margin-left: -10px;
}
.player-body {
  height: 30px;
  width: 20px;
  background: #ff0000;
  border-radius: 5px 5px 1px 1px;
  position: relative;
}
.player-body:after {
  content: '';
  display: block;
  width: 10px;
  height: 7px;
  border-radius: 0 5px 5px 0;
  background: #ffffff;
  border-right: 5px solid #000000;
  position: absolute;
  top: 10px;
  right: -10px;
}
.player-foot {
  height: 50px;
  width: 20px;
  background: #252525;
  border-top: 5px solid #000;
  border-bottom: 5px solid #000000;
  border-radius: 0 0 2px 2px;
}
@-webkit-keyframes swinging {
  0% {
    -webkit-transform: rotate(80deg);
  }
  50% {
    -webkit-transform: rotate(-40deg);
  }
  100% {
    -webkit-transform: rotate(80deg);
  }
}
@keyframes swinging {
  0% {
    -webkit-transform: rotate(80deg);
  }
  50% {
    -webkit-transform: rotate(-40deg);
  }
  100% {
    -webkit-transform: rotate(80deg);
  }
}


  /*first-frame to animate on x axis*/
  
  #animation{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 10%;
    left: 10%;
    z-index:1;
  /*  background: #ccc;*/
    
    animation: kiteX 7s ease-in-out 0s infinite alternate none;
    -webkit-animation: kiteX 7s ease-in-out 0s infinite alternate;
  }
  
  /*second-frame to animate on y axis*/
  
  .vertWrap{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left:0%;
    z-index:1;
  /*  background: blue;*/
    
    animation: kiteY 6s ease-in-out -4s infinite alternate none;
    -webkit-animation: kiteY 6s ease-in-out -4s infinite alternate none;
  }
  
  
  /*third-frame as wrapper*/
  
  .kite{
    width: 0px;
    height: 0px;
    font-size: 0;
    line-height: 0;
    background: #D31E02;
    position: relative;
    border-left: 40px solid #ffbb00;
    border-right: 20px solid #01ff2b;
    border-top: 20px solid #01ff2b;
    border-bottom: 40px solid #ffbb00;
  }
  
  .kite:after{
    content: '';
    width: 15px;
    height: 15px;
    background: #000000;
    display: block;
    position: absolute;
    bottom: -50px;
    left: -50px;
  }
  
  /*gelasan for the kite*/
  
  .vertWrap span{
    display: block;
    position:absolute;
    top: 0%;
    left:0%;
    z-index: -1;
    
    height: 1000%;
    border-right: 1px solid rgba(45,55,60,0.26);
    
    -webkit-transform: rotate(-35deg);
    -webkit-transform-origin: top center;
    
  }
  
  
  
  
  /*Below all about animation builder*/
  @keyframes kiteX{
    100%{-webkit-transform: translate(20px, 0px);
          transform: translate(20px,0px )}
    87%{-webkit-transform: translate(-10px, 0px);
          transform: translate(-10px, 0px);}
    71%{-webkit-transform: translate(35px, 0px);
          transform: translate(35px, 0px);}
    53%{-webkit-transform: translate(-15px, 0px);
          transform: translate(-15px, 0px);}
    43%{-webkit-transform: translate(20px, 0px);
          transform: translate(20px, 0px);}
    28%{-webkit-transform: translate(-5px, 0px);
          transform: translate(-5px, 0px);}
    15%{-webkit-transform: translate(35px, 0px);
          transform: translate(35px, 0px);}
    0%{-webkit-transform: translate(-30px, 0px);
          transform: translate(-30px, 0px);}
  }
  
  @keyframes kiteY{
    100%{-webkit-transform: translate(0px, -10px);}
    82%{-webkit-transform: translate(0px, 35px);}
    68%{-webkit-transform: translate(0px, -15px);}
    49%{-webkit-transform: translate(0px, 20px);}
    25%{-webkit-transform: translate(0px, -5px);}
    11%{-webkit-transform: translate(0px, 35px);}
    0%{-webkit-transform: translate(0px, -30px);}
  }
  
  
  
  
  
  
  .kitea{
    width: 0px;
    height: 0px;
    font-size: 0;
    line-height: 0;
    background: #000000;
    position: relative;
    border-left: 40px solid #ffffff;
    border-right: 20px solid #FF0101;
    border-top: 20px solid #FF0101;
    border-bottom: 40px solid #ffffff;
    rotate: -90deg;
  }
  
  .kitea:after{
    content: '';
    width: 15px;
    height: 15px;
    background: #000000;
    display: block;
    position: absolute;
    bottom: -50px;
    left: -50px;
  }
  
  .vertWrapa span{
    position:absolute;
    top: 0%;
    left:0%;
    z-index: -100;
    
    height: 1000%;
    border-right: 1px solid rgba(59, 59, 59, 0.521);
    
    -webkit-transform: rotate(30deg);
    -webkit-transform-origin: top center;
    
  }
  
  
  
  
  
  
  
  
  .a{
  margin-left: 400px;
    margin-top: -400px;
  }